<p id="notice"><%= notice %></p>



      <span>
      <strong>Code:</strong>
    <%= @quiz.code %>
  </span>



      <span>
      <strong>Name:</strong>
    <%= @quiz.name %>
  </span>



      <span>
      <strong>Description:</strong>
    <%= @quiz.description %>
  </span>



      <span>
      <strong>Displaydescription:</strong>
    <%= @quiz.displaydescription %>
  </span>



      <span>
      <strong>Open:</strong>
    <%= @quiz.open %>
  </span>



      <span>
      <strong>Close:</strong>
    <%= @quiz.close %>
  </span>



      <span>
      <strong>Timelimit:</strong>
    <%= @quiz.timelimit %>
  </span>



      <span>
      <strong>Whentimeexpires:</strong>
    <%= @quiz.whentimeexpires %>
  </span>



      <span>
      <strong>Submissiongraceperiod:</strong>
    <%= @quiz.submissiongraceperiod %>
  </span>



      <span>
      <strong>Gradecategory:</strong>
    <%= @quiz.gradecategory %>
  </span>



      <span>
      <strong>Attemptsallowed:</strong>
    <%= @quiz.attemptsallowed %>
  </span>



      <span>
      <strong>Gradingmethod:</strong>
    <%= @quiz.gradingmethod %>
  </span>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
