<p id="notice"><%= notice %></p>



      <span>
      <strong>Code:</strong>
    <%= @issue.code %>
  </span>



      <span>
      <strong>Project:</strong>
    <%= @issue.project %>
  </span>



      <span>
      <strong>Issuetype:</strong>
    <%= @issue.issuetype %>
  </span>



      <span>
      <strong>Summary:</strong>
    <%= @issue.summary %>
  </span>



      <span>
      <strong>Storypoints:</strong>
    <%= @issue.storypoints %>
  </span>



      <span>
      <strong>Priority:</strong>
    <%= @issue.priority %>
  </span>



      <span>
      <strong>Duedate:</strong>
    <%= @issue.duedate %>
  </span>



      <span>
      <strong>Components:</strong>
    <%= @issue.components %>
  </span>



      <span>
      <strong>Affectsversions:</strong>
    <%= @issue.affectsversions %>
  </span>



      <span>
      <strong>Fixversions:</strong>
    <%= @issue.fixversions %>
  </span>



      <span>
      <strong>Assignee:</strong>
    <%= @issue.assignee %>
  </span>



      <span>
      <strong>Environment:</strong>
    <%= @issue.environment %>
  </span>



      <span>
      <strong>Description:</strong>
    <%= @issue.description %>
  </span>



      <span class="w3-tag w3-red" >
      <strong>Labels:</strong>
    <%= @issue.labels %>
  </span>



      <span>
      <strong>Epic:</strong>
    <%= @issue.epic %>
  </span>



      <span>
      <strong>Sprint:</strong>
    <%= @issue.sprint %>
  </span>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
