<p id="notice"><%= notice %></p>



      <span>
      <strong>Name:</strong>
    <%= @salesforceuser.name %>
  </span>



      <span>
      <strong>Alias:</strong>
    <%= @salesforceuser.alias %>
  </span>



      <span>
      <strong>Email:</strong>
    <%= @salesforceuser.email %>
  </span>



      <span>
      <strong>Username:</strong>
    <%= @salesforceuser.username %>
  </span>



      <span>
      <strong>Communitynickname:</strong>
    <%= @salesforceuser.communitynickname %>
  </span>



      <span>
      <strong>Title:</strong>
    <%= @salesforceuser.title %>
  </span>



      <span>
      <strong>Company:</strong>
    <%= @salesforceuser.company %>
  </span>



      <span>
      <strong>Department:</strong>
    <%= @salesforceuser.department %>
  </span>



      <span>
      <strong>Division:</strong>
    <%= @salesforceuser.division %>
  </span>



      <span>
      <strong>Address:</strong>
    <%= @salesforceuser.address %>
  </span>



      <span>
      <strong>Timezone:</strong>
    <%= @salesforceuser.timezone %>
  </span>



      <span>
      <strong>Locale:</strong>
    <%= @salesforceuser.locale %>
  </span>



      <span>
      <strong>Language:</strong>
    <%= @salesforceuser.language %>
  </span>



      <span>
      <strong>Delegatedapprover:</strong>
    <%= @salesforceuser.delegatedapprover %>
  </span>



      <span>
      <strong>Manager:</strong>
    <%= @salesforceuser.manager %>
  </span>



      <span>
      <strong>Role:</strong>
    <%= @salesforceuser.role %>
  </span>



      <span>
      <strong>Userlicense:</strong>
    <%= @salesforceuser.userlicense %>
  </span>



      <span>
      <strong>Profile:</strong>
    <%= @salesforceuser.profile %>
  </span>



      <span>
      <strong>Active:</strong>
    <%= @salesforceuser.active %>
  </span>



      <span>
      <strong>Marketinguser:</strong>
    <%= @salesforceuser.marketinguser %>
  </span>



      <span>
      <strong>Offlineuser:</strong>
    <%= @salesforceuser.offlineuser %>
  </span>



      <span>
      <strong>Knowledgeuser:</strong>
    <%= @salesforceuser.knowledgeuser %>
  </span>



      <span>
      <strong>Forcecomflowuser:</strong>
    <%= @salesforceuser.forcecomflowuser %>
  </span>



      <span>
      <strong>Serviceclouduser:</strong>
    <%= @salesforceuser.serviceclouduser %>
  </span>



      <span>
      <strong>Sitecomcontributoruser:</strong>
    <%= @salesforceuser.sitecomcontributoruser %>
  </span>



      <span>
      <strong>Sitecompublisheruser:</strong>
    <%= @salesforceuser.sitecompublisheruser %>
  </span>



      <span>
      <strong>Mobileuser:</strong>
    <%= @salesforceuser.mobileuser %>
  </span>

<%= link_to 'Edit', edit_salesforceuser_path(@salesforceuser) %> |
<%= link_to 'Back', salesforceusers_path %>
