<p id="notice"><%= notice %></p>


<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i></a>  
  <span class="w3-bar-item">Listing Leads</span>
  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i></a>
</div>

<div class="w3-container w3-content">
      <% @leads.each do |lead| %>
        <div class="w3-panel w3-white w3-card-2 w3-display-container" >
                            <p><%= lead.code %></p>
                            <p><%= lead.owner %></p>
                            <p><%= lead.firstname %></p>
                            <p><%= lead.lastname %></p>
                            <p><%= lead.company %></p>
                            <p><%= lead.title %></p>
                            <p><%= lead.status %></p>
                            <p><%= lead.phone %></p>
                            <p><%= lead.email %></p>
                            <p><%= lead.street %></p>
                            <p><%= lead.city %></p>
                            <p><%= lead.state %></p>
                            <p><%= lead.zipcode %></p>
                            <p><%= lead.county %></p>
                            <p><%= lead.website %></p>
                            <p><%= lead.numberofemployees %></p>
                            <p><%= lead.annualrevenue %></p>
                            <p><%= lead.source %></p>
                            <p><%= lead.industry %></p>
                            <p><%= lead.description %></p>
                    
          
          <%= link_to 'Show', lead %>
          <%= link_to 'Edit', edit_lead_path(lead) %>
          <%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div>
      <% end %>
</div>


<!-- <table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Owner</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Company</th>
      <th>Title</th>
      <th>Status</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>County</th>
      <th>Website</th>
      <th>Numberofemployees</th>
      <th>Annualrevenue</th>
      <th>Source</th>
      <th>Industry</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <div class="w3-container w3-content">
        <div class="w3-panel w3-white w3-card-2 w3-display-container">

          <tr>
                <td><%= lead.code %></td>
                <td><%= lead.owner %></td>
                <td><%= lead.firstname %></td>
                <td><%= lead.lastname %></td>
                <td><%= lead.company %></td>
                <td><%= lead.title %></td>
                <td><%= lead.status %></td>
                <td><%= lead.phone %></td>
                <td><%= lead.email %></td>
                <td><%= lead.street %></td>
                <td><%= lead.city %></td>
                <td><%= lead.state %></td>
                <td><%= lead.zipcode %></td>
                <td><%= lead.county %></td>
                <td><%= lead.website %></td>
                <td><%= lead.numberofemployees %></td>
                <td><%= lead.annualrevenue %></td>
                <td><%= lead.source %></td>
                <td><%= lead.industry %></td>
                <td><%= lead.description %></td>
                <td><%= link_to 'Show', lead %></td>
            <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
            <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </div>
      </div>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Lead', new_lead_path %>
