<p id="notice"><%= notice %></p>



      <span>
      <strong>Code:</strong>
    <%= @lead.code %>
  </span>



      <span>
      <strong>Owner:</strong>
    <%= @lead.owner %>
  </span>



      <span>
      <strong>Firstname:</strong>
    <%= @lead.firstname %>
  </span>



      <span>
      <strong>Lastname:</strong>
    <%= @lead.lastname %>
  </span>



      <span>
      <strong>Company:</strong>
    <%= @lead.company %>
  </span>



      <span>
      <strong>Title:</strong>
    <%= @lead.title %>
  </span>



      <span>
      <strong>Status:</strong>
    <%= @lead.status %>
  </span>



      <span>
      <strong>Phone:</strong>
    <%= @lead.phone %>
  </span>



      <span>
      <strong>Email:</strong>
    <%= @lead.email %>
  </span>



      <span>
      <strong>Street:</strong>
    <%= @lead.street %>
  </span>



      <span>
      <strong>City:</strong>
    <%= @lead.city %>
  </span>



      <span>
      <strong>State:</strong>
    <%= @lead.state %>
  </span>



      <span>
      <strong>Zipcode:</strong>
    <%= @lead.zipcode %>
  </span>



      <span>
      <strong>County:</strong>
    <%= @lead.county %>
  </span>



      <span>
      <strong>Website:</strong>
    <%= @lead.website %>
  </span>



      <span>
      <strong>Numberofemployees:</strong>
    <%= @lead.numberofemployees %>
  </span>



      <span>
      <strong>Annualrevenue:</strong>
    <%= @lead.annualrevenue %>
  </span>



      <span>
      <strong>Source:</strong>
    <%= @lead.source %>
  </span>



      <span>
      <strong>Industry:</strong>
    <%= @lead.industry %>
  </span>



      <span>
      <strong>Description:</strong>
    <%= @lead.description %>
  </span>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
