<p id="notice"><%= notice %></p>



      <span>
      <strong>Name:</strong>
    <%= @project.name %>
  </span>



      <span>
      <strong>Description:</strong>
    <%= @project.description %>
  </span>



      <span>
      <strong>Identifier:</strong>
    <%= @project.identifier %>
  </span>



      <span>
      <strong>Homepage:</strong>
    <%= @project.homepage %>
  </span>



      <span>
      <strong>Public:</strong>
    <%= @project.public %>
  </span>



      <span>
      <strong>Subprojectof:</strong>
    <%= @project.subprojectof %>
  </span>



      <span>
      <strong>Bugtracker:</strong>
    <%= @project.bugtracker %>
  </span>



      <span>
      <strong>Featuretracker:</strong>
    <%= @project.featuretracker %>
  </span>



      <span>
      <strong>Supporttracker:</strong>
    <%= @project.supporttracker %>
  </span>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
