<p id="notice"><%= notice %></p>



      <span>
      <strong>Code:</strong>
    <%= @testcase.code %>
  </span>



      <span>
      <strong>Title:</strong>
    <%= @testcase.title %>
  </span>



      <span>
      <strong>Summary:</strong>
    <%= @testcase.summary %>
  </span>



      <span>
      <strong>Preconditions:</strong>
    <%= @testcase.preconditions %>
  </span>



      <span>
      <strong>Status:</strong>
    <%= @testcase.status %>
  </span>



      <span>
      <strong>Importance:</strong>
    <%= @testcase.importance %>
  </span>



      <span>
      <strong>Minutes:</strong>
    <%= @testcase.minutes %>
  </span>

<%= link_to 'Edit', edit_testcase_path(@testcase) %> |
<%= link_to 'Back', testcases_path %>
