<p id="notice"><%= notice %></p>



      <span>
      <strong>Loginname:</strong>
    <%= @bugzillauser.loginname %>
  </span>



      <span>
      <strong>Realname:</strong>
    <%= @bugzillauser.realname %>
  </span>



      <span>
      <strong>Password:</strong>
    <%= @bugzillauser.password %>
  </span>



      <span>
      <strong>Bugmaildisabled:</strong>
    <%= @bugzillauser.bugmaildisabled %>
  </span>



      <span>
      <strong>Disabletext:</strong>
    <%= @bugzillauser.disabletext %>
  </span>



      <span>
      <strong>Adminpermission:</strong>
    <%= @bugzillauser.adminpermission %>
  </span>



      <span>
      <strong>Creategroupspermission:</strong>
    <%= @bugzillauser.creategroupspermission %>
  </span>



      <span>
      <strong>Edituserspermission:</strong>
    <%= @bugzillauser.edituserspermission %>
  </span>

<%= link_to 'Edit', edit_bugzillauser_path(@bugzillauser) %> |
<%= link_to 'Back', bugzillausers_path %>
