<p id="notice"><%= notice %></p>



      <span>
      <strong>Code:</strong>
    <%= @course.code %>
  </span>



      <span>
      <strong>Fullname:</strong>
    <%= @course.fullname %>
  </span>



      <span>
      <strong>Shortname:</strong>
    <%= @course.shortname %>
  </span>



      <span>
      <strong>Courseidnumber:</strong>
    <%= @course.courseidnumber %>
  </span>



      <span>
      <strong>Summary:</strong>
    <%= @course.summary %>
  </span>



      <span>
      <strong>Format:</strong>
    <%= @course.format %>
  </span>



      <span>
      <strong>Numberofweekstopics:</strong>
    <%= @course.numberofweekstopics %>
  </span>



      <span>
      <strong>Start:</strong>
    <%= @course.start %>
  </span>



      <span>
      <strong>Hiddensections:</strong>
    <%= @course.hiddensections %>
  </span>



      <span>
      <strong>Newsitemstoshow:</strong>
    <%= @course.newsitemstoshow %>
  </span>



      <span>
      <strong>Showgrades:</strong>
    <%= @course.showgrades %>
  </span>



      <span>
      <strong>Showactivityreports:</strong>
    <%= @course.showactivityreports %>
  </span>



      <span>
      <strong>Maxuploadsize:</strong>
    <%= @course.maxuploadsize %>
  </span>



      <span>
      <strong>Defaultroles:</strong>
    <%= @course.defaultroles %>
  </span>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
