<p id="notice"><%= notice %></p>



      <span>
      <strong>Code:</strong>
    <%= @bug.code %>
  </span>



      <span>
      <strong>Product:</strong>
    <%= @bug.product %>
  </span>



      <span>
      <strong>Component:</strong>
    <%= @bug.component %>
  </span>



      <span>
      <strong>Version:</strong>
    <%= @bug.version %>
  </span>



      <span>
      <strong>Summary:</strong>
    <%= @bug.summary %>
  </span>



      <span>
      <strong>Description:</strong>
    <%= @bug.description %>
  </span>



      <span>
      <strong>Hardware:</strong>
    <%= @bug.hardware %>
  </span>



      <span>
      <strong>Importance:</strong>
    <%= @bug.importance %>
  </span>



      <span>
      <strong>Targetmilestone:</strong>
    <%= @bug.targetmilestone %>
  </span>



      <span>
      <strong>Assignedto:</strong>
    <%= @bug.assignedto %>
  </span>



      <span>
      <strong>Qacontact:</strong>
    <%= @bug.qacontact %>
  </span>



      <span>
      <strong>Url:</strong>
    <%= @bug.url %>
  </span>



      <span>
      <strong>Whiteboard:</strong>
    <%= @bug.whiteboard %>
  </span>



      <span class="w3-tag w3-blue">
      <strong>Keywords:</strong>
    <%= @bug.keywords %>
  </span>



      <span  class="w3-tag w3-green">
      <strong>Tags:</strong>
    <%= @bug.tags %>
  </span>



      <span>
      <strong>Dependson:</strong>
    <%= @bug.dependson %>
  </span>



      <span>
      <strong>Blocks:</strong>
    <%= @bug.blocks %>
  </span>



      <span>
      <strong>Origestimated:</strong>
    <%= @bug.origestimated %>
  </span>



      <span>
      <strong>Hoursworked:</strong>
    <%= @bug.hoursworked %>
  </span>



      <span>
      <strong>Hoursleft:</strong>
    <%= @bug.hoursleft %>
  </span>



      <span>
      <strong>Deadline:</strong>
    <%= @bug.deadline %>
  </span>



      <span>
      <strong>Additionalcomments:</strong>
    <%= @bug.additionalcomments %>
  </span>



      <span>
      <strong>Status:</strong>
    <%= @bug.status %>
  </span>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
