<p id="notice"><%= notice %></p>



      <span>
      <strong>Code:</strong>
    <%= @campaign.code %>
  </span>



      <span>
      <strong>Owner:</strong>
    <%= @campaign.owner %>
  </span>



      <span>
      <strong>Name:</strong>
    <%= @campaign.name %>
  </span>



      <span>
      <strong>Active:</strong>
    <%= @campaign.active %>
  </span>



      <span>
      <strong>Type:</strong>
    <%= @campaign.type %>
  </span>



      <span>
      <strong>Status:</strong>
    <%= @campaign.status %>
  </span>



      <span>
      <strong>Start:</strong>
    <%= @campaign.start %>
  </span>



      <span>
      <strong>End:</strong>
    <%= @campaign.end %>
  </span>



      <span>
      <strong>Expectedrevenue:</strong>
    <%= @campaign.expectedrevenue %>
  </span>



      <span>
      <strong>Budgetedcost:</strong>
    <%= @campaign.budgetedcost %>
  </span>



      <span>
      <strong>Actualcost:</strong>
    <%= @campaign.actualcost %>
  </span>



      <span>
      <strong>Expectedresponse:</strong>
    <%= @campaign.expectedresponse %>
  </span>



      <span>
      <strong>Numsent:</strong>
    <%= @campaign.numsent %>
  </span>



      <span>
      <strong>Parentcampaign:</strong>
    <%= @campaign.parentcampaign %>
  </span>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
