<p id="notice"><%= notice %></p>



      <span>
      <strong>Code:</strong>
    <%= @product.code %>
  </span>



      <span>
      <strong>Name:</strong>
    <%= @product.name %>
  </span>



      <span>
      <strong>Model:</strong>
    <%= @product.model %>
  </span>



      <span>
      <strong>Sku:</strong>
    <%= @product.sku %>
  </span>



      <span>
      <strong>Weight:</strong>
    <%= @product.weight %>
  </span>



      <span>
      <strong>Manufacturer:</strong>
    <%= @product.manufacturer %>
  </span>



      <span>
      <strong>Status:</strong>
    <%= @product.status %>
  </span>



      <span>
      <strong>Taxclass:</strong>
    <%= @product.taxclass %>
  </span>



      <span>
      <strong>Urlkey:</strong>
    <%= @product.urlkey %>
  </span>



      <span>
      <strong>Visibility:</strong>
    <%= @product.visibility %>
  </span>



      <span>
      <strong>Setproductasnewfromdate:</strong>
    <%= @product.setproductasnewfromdate %>
  </span>



      <span>
      <strong>Setproductasnewtodate:</strong>
    <%= @product.setproductasnewtodate %>
  </span>



      <span>
      <strong>Countryofmanufacture:</strong>
    <%= @product.countryofmanufacture %>
  </span>



      <span>
      <strong>Price:</strong>
    <%= @product.price %>
  </span>



      <span>
      <strong>Cost:</strong>
    <%= @product.cost %>
  </span>



      <span>
      <strong>Specialprice:</strong>
    <%= @product.specialprice %>
  </span>



      <span>
      <strong>Specialpricefromdate:</strong>
    <%= @product.specialpricefromdate %>
  </span>



      <span>
      <strong>Specialpricetodate:</strong>
    <%= @product.specialpricetodate %>
  </span>



      <span>
      <strong>Applymap:</strong>
    <%= @product.applymap %>
  </span>



      <span>
      <strong>Displayactualprice:</strong>
    <%= @product.displayactualprice %>
  </span>



      <span>
      <strong>Suggestedretailprice:</strong>
    <%= @product.suggestedretailprice %>
  </span>



      <span>
      <strong>Metatitle:</strong>
    <%= @product.metatitle %>
  </span>



      <span>
      <strong>Metakeywords:</strong>
    <%= @product.metakeywords %>
  </span>



      <span>
      <strong>Metadescription:</strong>
    <%= @product.metadescription %>
  </span>



      <span>
      <strong>Shortdescription:</strong>
    <%= @product.shortdescription %>
  </span>



      <span>
      <strong>Description:</strong>
    <%= @product.description %>
  </span>



      <span>
      <strong>Indepth:</strong>
    <%= @product.indepth %>
  </span>



      <span>
      <strong>Dimensions:</strong>
    <%= @product.dimensions %>
  </span>



      <span>
      <strong>Activationinformation:</strong>
    <%= @product.activationinformation %>
  </span>



      <span>
      <strong>Color:</strong>
    <%= @product.color %>
  </span>



      <span>
      <strong>Customdesign:</strong>
    <%= @product.customdesign %>
  </span>



      <span>
      <strong>Activefrom:</strong>
    <%= @product.activefrom %>
  </span>



      <span>
      <strong>Activeto:</strong>
    <%= @product.activeto %>
  </span>



      <span>
      <strong>Customlayoutupdate:</strong>
    <%= @product.customlayoutupdate %>
  </span>



      <span>
      <strong>Displayproductoptionsin:</strong>
    <%= @product.displayproductoptionsin %>
  </span>



      <span>
      <strong>Pagelayout:</strong>
    <%= @product.pagelayout %>
  </span>



      <span>
      <strong>Enablerecurringprofile:</strong>
    <%= @product.enablerecurringprofile %>
  </span>



      <span>
      <strong>Allowgiftmessage:</strong>
    <%= @product.allowgiftmessage %>
  </span>



      <span>
      <strong>Managestock:</strong>
    <%= @product.managestock %>
  </span>



      <span>
      <strong>Qty:</strong>
    <%= @product.qty %>
  </span>



      <span>
      <strong>Qtyforitemsstatustobecomeoutofstock:</strong>
    <%= @product.qtyforitemsstatustobecomeoutofstock %>
  </span>



      <span>
      <strong>Minimumqtyallowedinshoppingcart:</strong>
    <%= @product.minimumqtyallowedinshoppingcart %>
  </span>



      <span>
      <strong>Maximumqtyallowedinshoppingcart:</strong>
    <%= @product.maximumqtyallowedinshoppingcart %>
  </span>



      <span>
      <strong>Qtyusesdecimals:</strong>
    <%= @product.qtyusesdecimals %>
  </span>



      <span>
      <strong>Backorders:</strong>
    <%= @product.backorders %>
  </span>



      <span>
      <strong>Notifyforquantitybelow:</strong>
    <%= @product.notifyforquantitybelow %>
  </span>



      <span>
      <strong>Enableqtyincrements:</strong>
    <%= @product.enableqtyincrements %>
  </span>



      <span>
      <strong>Stockavailability:</strong>
    <%= @product.stockavailability %>
  </span>



      <span  class="w3-tag w3-green">
      <strong>Tags:</strong>
    <%= @product.tags %>
  </span>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
