<p id="notice"><%= notice %></p>



      <span>
      <strong>Code:</strong>
    <%= @bugzillaproduct.code %>
  </span>



      <span>
      <strong>Product:</strong>
    <%= @bugzillaproduct.product %>
  </span>



      <span>
      <strong>Description:</strong>
    <%= @bugzillaproduct.description %>
  </span>



      <span>
      <strong>Openforbugentry:</strong>
    <%= @bugzillaproduct.openforbugentry %>
  </span>



      <span>
      <strong>Enableunconfirmedstatus:</strong>
    <%= @bugzillaproduct.enableunconfirmedstatus %>
  </span>



      <span>
      <strong>Maxvotesperperson:</strong>
    <%= @bugzillaproduct.maxvotesperperson %>
  </span>



      <span>
      <strong>Maxvotespersonperbug:</strong>
    <%= @bugzillaproduct.maxvotespersonperbug %>
  </span>



      <span>
      <strong>Confirmbugsvotes:</strong>
    <%= @bugzillaproduct.confirmbugsvotes %>
  </span>



      <span>
      <strong>Version:</strong>
    <%= @bugzillaproduct.version %>
  </span>



      <span>
      <strong>Createchartdatasets:</strong>
    <%= @bugzillaproduct.createchartdatasets %>
  </span>



      <span>
      <strong>Component:</strong>
    <%= @bugzillaproduct.component %>
  </span>



      <span>
      <strong>Componentdescription:</strong>
    <%= @bugzillaproduct.componentdescription %>
  </span>



      <span>
      <strong>Defaultassignee:</strong>
    <%= @bugzillaproduct.defaultassignee %>
  </span>



      <span>
      <strong>Defaultcclist:</strong>
    <%= @bugzillaproduct.defaultcclist %>
  </span>

<%= link_to 'Edit', edit_bugzillaproduct_path(@bugzillaproduct) %> |
<%= link_to 'Back', bugzillaproducts_path %>
